CMakeCache.txt
main
Makefile
cmake_install.cmake
CMakeFiles/
nbproject/
compile_commands.json
vw_detect/CMakeFiles/*
vw_detect/CMakeCache.txt
region_growing/CMakeFiles/*
region_growing/CMakeCache.txt
